@use "../utilities";

.header {
  background-color: var(--foreground-color);
  margin-bottom: 2rem;
}

.nav {
  display: flex;
  min-height: 65px;
  align-items: center;

  &-title {
    padding-top: .3em;
    text-transform: capitalize;
  }
}

.logo {
  max-width: 65px;
}
